<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>KEDO Data Lake</title>
<meta name="robots" content="noindex, nofollow">
<link href="css/css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="is-boxed has-animations" style="height: 100%;">
    <div class="body-wrap boxed-container">
        <header class="site-header">          
        </header>
        <main>
            <section class="hero text-light text-center">
            <p class="hero-cta is-revealing" style="visibility: visible;"><a class="button button-secondary button-shadow" href="http://localhost:8082/">Home</a></p>
                <div class="container-sm">
                    <div class="hero-inner">
                        <h1 class="hero-title h2-mobile mt-0 is-revealing" style="visibility: visible;">KEDO Data Lake Provenance/Insight Update Page</h1>
                        <form action="/update" method="get">
                        <p class="hero-paragraph is-revealing" style="visibility: visible;">Here, please type in the targetPID, provenance and objectPID information</p>                               
                        	
                        	<table style ="width:100%">
                        	<tr>
                        	<td style="color:#000000">Target PID:</td>
							<td><input id="targetPID" type="text" name="targetPID" placeholder="http://35.83.244.177:8000/api/handles/20.500.12033/b86b2825-f854-4311-84f0-38b1cab89551"/>
							</tr>
							
							<tr>
                        	<td style="color:#000000">Provenance:</td>
							<td><input id="provenance" type="text" name="provenance" placeholder="specializationOf"/>
							</tr>
							
							
							<tr>
                        	<td style="color:#000000">Object PID:</td>
							<td><input id="objectPID" type="text" name="objectPID" placeholder="http://35.83.244.177:8000/api/handles/20.500.12033/b86b2825-f854-4311-84f0-38b1cab89551"/>
							</tr>
							
                     	
                        	</table>
                        	<br>
                        	<button type="submit" class="primary submit-btn", formmethod="get"> Submit</button>                       	
                        </form>
                        
                        <form action="/updateInsight" method="get">
                        <p class="hero-paragraph is-revealing" style="visibility: visible;">Here, please type in the updated Insight information</p>                               
                        	
                        	<table style ="width:100%">
                        	<tr>
                        	<td style="color:#000000">File PID:</td>
							<td><input id="targetPID" type="text" name="filePID" placeholder="http://35.83.244.177:8000/api/handles/20.500.12033/b86b2825-f854-4311-84f0-38b1cab89551"/>
							</tr>
							
							<tr>
                        	<td style="color:#000000">Workflow PID:</td>
							<td><input id="provenance" type="text" name="containerPID" placeholder="specializationOf"/>
							</tr>
							
							
							<tr>
                        	<td style="color:#000000">Feature (variable) IRI:</td>
							<td><input id="objectPID" type="text" name="varIRI" placeholder="http://35.83.244.177:8000/b86b2825-f854-4311-84f0-38b1cab89551"/>
							</tr>
							
							
							<tr>
                        	<td style="color:#000000">Description:</td>
							<td><input id="objectPID" type="text" name="description" placeholder="This is ....."/>
							</tr>
							
							<tr>
                        	<td style="color:#000000">Running Command:</td>
							<td><input id="objectPID" type="text" name="runCommand" placeholder="run ..."/>
							</tr>
							
							<tr>
                        	<td style="color:#000000">Result:</td>
							<td><input id="objectPID" type="text" name="result" placeholder="result: ..."/>
							</tr>
							
                     	
                        	</table>
                        	<br>
                        	<button type="submit" class="primary submit-btn", formmethod="get"> Submit</button>                       	
                        </form>
                 
                    </div>
                </div>
            </section>          
        </main>       
    </div>


</body></html>